<html>
	<head>
		<title>Rust Crate Documentation - youmu</title>
	</head>
	<body>
		<h1>Packages</h1>
		{{total}} packages documented.

		<ul>
			{{#each crates}}
			<li>
				<b>
					<a href="{{href}}">{{name}}</a>
				</b> -
				{{#each versions}}
				<a href="{{href}}">{{version}}</a>{{#if !@last}},{{/if}}
				{{/each}}
			</li>
			{{/each}}
		</ul>

		<h2>Generate Documentation</h2>
		<form action="{{request_action}}" method="POST">
			<p>Package name: <input type="text" name="package"></p>
			<p>crates.io version: <input type="text" name="version"></p>
			<p>Git URL: <input type="text" name="url"></p>
			<input type="submit">
		</form>
	</body>
</html>
